@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.markdown-redValues-content h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
}

.markdown-waiver-content {
}

.markdown-waiver-content ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem;
}

.markdown-waiver-content ul {
  list-style-type: disc !important;
  padding-left: 1.5rem;
}

.markdown-waiver-content li {
  margin-bottom: 0.5rem;
}

.markdown-waiver-content p {
  margin-bottom: 1rem;
}

.markdown-waiver-content h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.markdown-waiver-content h2 {
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

.markdown-waiver-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.markdown-waiver-content ol,
.markdown-waiver-content ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.markdown-waiver-content li {
  margin-bottom: 0.5rem;
}

.waiver-scroll::-webkit-scrollbar {
  width: 8px;
}

.waiver-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.waiver-scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 9999px;
}

.waiver-scroll::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
